// Здесь переопределяются SASS-переменные vuetify: https://vuetifyjs.com/ru/customization/sass-variables

//$font-size-root: 14px;

@import '~vuetify/src/styles/styles.sass';

//$body-font-family: 'Barlow Condensed', sans-serif;
//$heading-font-family: $body-font-family;
//@each $heading, $style in $headings {
//  $headings: map-merge($headings, ($heading: map-merge($style, ('font-family': $heading-font-family))));
//}


//$material-light: map-merge($material-light, (
//        background: map-get($blue, 'lighten-5')
//));

// Colors
$bgcColor: rgb(217, 234, 238);
$blue: rgb(0, 191, 255);
$black: #000;
$white: #fff;
$grey-very-light: rgb(245, 247, 248);
$grey-light: rgb(184, 193, 196);
$grey-lighter: rgb(162, 175, 180);
$grey-dark: rgba(242, 245, 246, 0.4);
$green-light: rgb(57, 233, 135);
